<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.cz2006_mappy">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ConvertToCashNew"
            android:label="@string/title_activity_convert_to_cash_new"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Registration"
            android:label="@string/registration_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".ListingActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".SeeMoreCashIncentives" />

        <activity android:name=".FeedbackForm" />
        <activity android:name=".createItemActivity" />
        <activity android:name=".MakeAppointmentActivity"></activity>
        <activity
            android:name=".MyListingActivity"
            android:label="@string/title_activity_my_listing"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetTargetActivity"
            android:label="@string/title_activity_set_target"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ItemDetailActivity" />
        <activity
            android:name=".Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>